// @import url(https://allfont.net/allfont.css?fonts=futura-normal);

// @font-face {
//     font-family: 'FuturaLight';
//     src: url(../fonts/FuturaPTLight.ttf) format('truetype');
// }

// @font-face {
//     font-family: 'FuturaDemi';
//     src: url(../fonts/FuturaPTDemi.ttf) format('truetype');
// }

// @font-face {
//     font-family: 'FuturaBook';
//     src: url(../fonts/FuturaPTBook.ttf) format('truetype');
// }

// @font-face {
//     font-family: 'FuturaMedium';
//     src: url(../fonts/FuturaPTMedium.ttf) format('truetype');
// }

// @font-face {
//     font-family: 'FuturaBold';
//     src: url(../fonts/FuturaPTBold.ttf) format('truetype');
// }

@font-face {
    font-family: 'BebasRegular';
    src: url(../fonts/BebasNeue-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'GaeguRegular';
    src: url(../fonts/Gaegu-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'GaeguLight';
    src: url(../fonts/Gaegu-Light.ttf) format('truetype');
}

// @font-face {
//     font-family: 'Geometos';
//     src: url(../fonts/Geometos.ttf) format('truetype');
// }

// $f-normal : 'Futura-Normal', arial;
// $f-light : 'FuturaLight';
// $f-demi : 'FuturaDemi';
// $f-book : 'FuturaBook';
// $f-medium : 'FuturaMedium';
// $f-bold : 'FuturaBold';
$b-regular : 'BebasRegular';
// $geometos : 'Geometos';
// $helvetica : 'helvetica';


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
// $m-: 'Montserrat', sans-serif;