.models{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    img{
    width: 100%;
    max-width: 300px;
    height: 300px;
    padding: 10px;
    }
    .pagination-models{
        width: 100%;
        text-align: center;
        span{
            background: #ed5f61;
            color: #ffffff;
            padding: 8px;
            border-radius: 3px;
        }
        a{
            background: white;
            color: #521113;
            padding: 8px;
            border-radius: 3px;
            &:hover{
                background: #ed5f61;
                color: #ffffff;

            }
        }
    }
    .no-result{
        text-align: center;
    }
}
.model-layout{
    text-align: center;
    img{
        width: 100%;
    }
    .model-info{
        padding: 20px 0px;
        color: $white;
        display:flex;
        align-items:center;
        flex-direction:column;
        a{
            color: none;
            .view-details{
                font-family: "Montserrat", sans-serif;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 13px;
                color: $white;
                letter-spacing: 1px;
                padding: 10px 20px;
                background: #ed5f61;
                border-radius: 5px;
                transition: all 0.4s ease-in-out;
                width: 100%;
                max-width: 150px;
                margin: 10px 0px;
                &:hover {
                  // background: rgba(255, 192, 203, 1);
                  // color: $black;
                  // background: #21d190;
                  background: #21d190;
                  border-radius: 20px;
                }
            }
        }
    }
}

/*Single content*/
.model-single{
    &__layout{
        padding: 20px;
        width: 100%;
        background-color: #fff;
        border-radius: 10px;
        a.btn-inquiry{
            color: none;
            display: flex;
            justify-content: center;
            .view-details{
                font-family: "Montserrat", sans-serif;
                font-weight: bold;
                text-transform: uppercase;
                text-align: center;
                font-size: 13px;
                color: $white;
                letter-spacing: 1px;
                padding: 10px 20px;
                background: #ed5f61;
                border-radius: 5px;
                transition: all 0.4s ease-in-out;
                width: 100%;
                max-width: 150px;
                margin: 10px 0px;
                &:hover {
                  // background: rgba(255, 192, 203, 1);
                  // color: $black;
                  // background: #21d190;
                  background: #21d190;
                  border-radius: 20px;
                }
            }
        }
    }
    &__content{
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-top: 50px;
        img{
            width: 100%;
            margin:10px;
            max-width: 300px;
        }
        table{
            width: 100%;
            max-width: 350px;
            margin: 20px;
            tr{
                display: flex;
                justify-content: space-between;
                border-bottom:1px solid;
                padding: 10px 0px;
                flex-wrap: wrap;
            }
        }

    }
}
.other-models{
    .model-img{
        img{
            width: 100%  !important;
            height: 230px;
        }
    }
}
.gallery-container{
    z-index:1;
}
.gallery-container .gallery-slider img{
    height: 400px;
}